data/dataset/
data/melspectrograms/
data/report.html
data/checkpoints
/myenv
wav2vec2/models
data/melspectrogram_tensors/
*.pyc
cnn scripts/vgg16/best_vgg16.pt
cnn scripts/vgg16/vgg16_variables_25.pt
