data/dataset/
data/melspectrograms/
data/mfccs_img/
data/report.html
data/checkpoints
/myenv
wav2vec2/models
*.pyc
*.pt
!class_weights.pt
transformer_models/models/
transformer_models/models/
data/augmentation/augmented_noise/
data/augmentation/augmented_time/
data/augmentation/augmented_pitch/
data/augmentation/checkpoints/
data/augmentation/melspectrograms/
